@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "css/reset.css";


div, header {
    margin: 10px;
}

body {
    box-sizing: border-box;
    color: #2f363e;
    font-family: "Open Sans", sans-serif;
    margin: 20px, 40px;
  }


/**header**/  
header {
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.header__column:first-child {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__column:nth-child(2) {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.header__column:last-child {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__column:last-child div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__column:last-child div span {
    margin: 3px 0px;
    font-weight: 400;
}

.title {
    padding: 20px, 40px;
    display:block;
    font-size: 40px;
    font-weight: 600;
}
/**header ends**/  


.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__column {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 400px;
    height:300px;
    border-radius: 20px;
    border-width: 3px;
    border-color: antiquewhite;
    padding: 5px, 5px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button span {
    margin: 5px 0;
    font-size: 33px;
    font-weight: 500;
    opacity: 0.75;
}